<a href="https://colab.research.google.com/github/RajaChowdhury/EDA-CAPSTONE-PROJECT/blob/main/Hotel_Booking_Analysis_Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <b> Have you ever wondered when the best time of year to book a hotel room is? Or the optimal length of stay in order to get the best daily rate? What if you wanted to predict whether or not a hotel was likely to receive a disproportionately high number of special requests? This hotel booking dataset can help you explore those questions!

## <b>This data set contains booking information for a city hotel and a resort hotel, and includes information such as when the booking was made, length of stay, the number of adults, children, and/or babies, and the number of available parking spaces, among other things. All personally identifying information has been removed from the data. </b>

## <b> Explore and analyze the data to discover important factors that govern the bookings. </b>

In [1]:
# Importing essential liabraries

import numpy as np
import pandas as pd

In [2]:
# Mounting my google drive

from google.colab import drive
drive.mount('/content/drive')

#File pathway

path = '/content/drive/MyDrive/Hotel Bookings.csv'

Mounted at /content/drive

In [3]:
#Storing my dataset
raw_df = pd.read_csv(path)

# **First lets know our dataset.**

In [4]:
raw_df.shape

(119390, 32)

In [5]:
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 29.1+ MB

In [6]:
raw_df.isnull().sum()

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
country                              488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
dtype: int64

In [7]:
raw_df.describe()

,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,agent,company,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests
count,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119386.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,103050.000000,6797.000000,119390.000000,119390.000000,119390.000000,119390.000000
mean,0.370416,104.011416,2016.156554,27.165173,15.798241,0.927599,2.500302,1.856403,0.103890,0.007949,0.031912,0.087118,0.137097,0.221124,86.693382,189.266735,2.321149,101.831122,0.062518,0.571363
std,0.482918,106.863097,0.707476,13.605138,8.780829,0.998613,1.908286,0.579261,0.398561,0.097436,0.175767,0.844336,1.497437,0.652306,110.774548,131.655015,17.594721,50.535790,0.245291,0.792798
min,0.000000,0.000000,2015.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,6.000000,0.000000,-6.380000,0.000000,0.000000
25%,0.000000,18.000000,2016.000000,16.000000,8.000000,0.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,62.000000,0.000000,69.290000,0.000000,0.000000
50%,0.000000,69.000000,2016.000000,28.000000,16.000000,1.000000,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,14.000000,179.000000,0.000000,94.575000,0.000000,0.000000
75%,1.000000,160.000000,2017.000000,38.000000,23.000000,2.000000,3.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,229.000000,270.000000,0.000000,126.000000,0.000000,1.000000
max,1.000000,737.000000,2017.000000,53.000000,31.000000,19.000000,50.000000,55.000000,10.000000,10.000000,1.000000,26.000000,72.000000,21.000000,535.000000,543.000000,391.000000,5400.000000,8.000000,5.000000

In [8]:
raw_df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03

In [9]:
raw_df.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'agent',
       'company', 'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date'],
      dtype='object')

# **Lets start cleaning the data.**

In [16]:
#Lets make a copy of original data with eliminating the unnecessary columns
columns = ['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date']
#Thus, agent and company columns gets elimanted as there were many null values in it.

df = raw_df[columns].copy()

As the null values where very small in numbers in children and country, so decided to erase the rows containing null values.

In [23]:
df = df.dropna(axis = 0)
df.isnull().sum()

hotel                             0
is_canceled                       0
lead_time                         0
arrival_date_year                 0
arrival_date_month                0
arrival_date_week_number          0
arrival_date_day_of_month         0
stays_in_weekend_nights           0
stays_in_week_nights              0
adults                            0
meal                              0
country                           0
market_segment                    0
distribution_channel              0
is_repeated_guest                 0
previous_cancellations            0
previous_bookings_not_canceled    0
reserved_room_type                0
assigned_room_type                0
booking_changes                   0
deposit_type                      0
days_in_waiting_list              0
customer_type                     0
adr                               0
required_car_parking_spaces       0
total_of_special_requests         0
reservation_status                0
reservation_status_date           0
kids                              0
total_members                     0
dtype: int64

In [17]:
df['kids'] = df.children + df.babies
df = df.drop(['babies', 'children'], axis=1)
df['total_members'] = df.kids + df.adults

In [23]:
df.groupby(['arrival_date_year', 'arrival_date_month']).count()

                                      hotel  is_canceled  lead_time  \
arrival_date_year arrival_date_month
2015              August               3889         3889       3889
                  December             2920         2920       2920
                  July                 2776         2776       2776
                  November             2340         2340       2340
                  October              4957         4957       4957
                  September            5114         5114       5114
2016              April                5428         5428       5428
                  August               5063         5063       5063
                  December             3860         3860       3860
                  February             3891         3891       3891
                  January              2248         2248       2248
                  July                 4572         4572       4572
                  June                 5292         5292       5292
                  March                4824         4824       4824
                  May                  5478         5478       5478
                  November             4454         4454       4454
                  October              6203         6203       6203
                  September            5394         5394       5394
2017              April                5661         5661       5661
                  August               4925         4925       4925
                  February             4177         4177       4177
                  January              3681         3681       3681
                  July                 5313         5313       5313
                  June                 5647         5647       5647
                  March                4970         4970       4970
                  May                  6313         6313       6313

                                      arrival_date_week_number  \
arrival_date_year arrival_date_month
2015              August                                  3889
                  December                                2920
                  July                                    2776
                  November                                2340
                  October                                 4957
                  September                               5114
2016              April                                   5428
                  August                                  5063
                  December                                3860
                  February                                3891
                  January                                 2248
                  July                                    4572
                  June                                    5292
                  March                                   4824
                  May                                     5478
                  November                                4454
                  October                                 6203
                  September                               5394
2017              April                                   5661
                  August                                  4925
                  February                                4177
                  January                                 3681
                  July                                    5313
                  June                                    5647
                  March                                   4970
                  May                                     6313

                                      arrival_date_day_of_month  \
arrival_date_year arrival_date_month
2015              August                                   3889
                  December                                 2920
                  July                                     2776
                  November                                 2340
                  October                                  4957
                  September                                5114
2016              April                                    5428
                  August                                   5063
                  December                                 3860
                  February                                 3891
                  January                                  2248
                  July                                     4572
                  June                                     5292
                  March                                    4824
                  May                                      5478
                  November                                 4454
                  October                                  6203
                  September                                5394
2017              April                                    5661
                  August                                   4925
                  February                                 4177
                  January                                  3681
                  July                                     5313
                  June                                     5647
                  March                                    4970
                  May                                      6313

                                      stays_in_weekend_nights  \
arrival_date_year arrival_date_month
2015              August                                 3889
                  December                               2920
                  July                                   2776
                  November                               2340
                  October                                4957
                  September                              5114
2016              April                                  5428
                  August                                 5063
                  December                               3860
                  February                               3891
                  January                                2248
                  July                                   4572
                  June                                   5292
                  March                                  4824
                  May                                    5478
                  November                               4454
                  October                                6203
                  September                              5394
2017              April                                  5661
                  August                                 4925
                  February                               4177
                  January                                3681
                  July                                   5313
                  June                                   5647
                  March                                  4970
                  May                                    6313

                                      stays_in_week_nights  adults  children  \
arrival_date_year arrival_date_month
2015              August                              3889    3889      3885
                  December                            2920    2920      2920
                  July                                2776    2776      2776
                  November                            2340    2340      2340
                  October                             4957    4957      4957
                  September                           5114    5114      5114
2016              April                               5428    5428      5428
                  August                              5063    5063      5063
                  December                            3860    3860      3860
                  February                            3891    3891      3891
                  January                             2248    2248      2248
                  July                                4572    4572      4572
                  June                                5292    5292      5292
                  March                               4824    4824      4824
                  May                                 5478    5478      5478
                  November                            4454    4454      4454
                  October                             6203    6203      6203
                  September                           5394    5394      5394
2017              April                               5661    5661      5661
                  August                              4925    4925      4925
                  February                            4177    4177      4177
                  January                             3681    3681      3681
                  July                                5313    5313      5313
                  June                                5647    5647      5647
                  March                               4970    4970      4970
                  May                                 6313    6313      6313

                                      babies  ...  assigned_room_type  \
arrival_date_year arrival_date_month          ...
2015              August                3889  ...                3889
                  December              2920  ...                2920
                  July                  2776  ...                2776
                  November              2340  ...                2340
                  October               4957  ...                4957
                  September             5114  ...                5114
2016              April                 5428  ...                5428
                  August                5063  ...                5063
                  December              3860  ...                3860
                  February              3891  ...                3891
                  January               2248  ...                2248
                  July                  4572  ...                4572
                  June                  5292  ...                5292
                  March                 4824  ...                4824
                  May                   5478  ...                5478
                  November              4454  ...                4454
                  October               6203  ...                6203
                  September             5394  ...                5394
2017              April                 5661  ...                5661
                  August                4925  ...                4925
                  February              4177  ...                4177
                  January               3681  ...                3681
                  July                  5313  ...                5313
                  June                  5647  ...                5647
                  March                 4970  ...                4970
                  May                   6313  ...                6313

                                      booking_changes  deposit_type  \
arrival_date_year arrival_date_month
2015              August                         3889          3889
                  December                       2920          2920
                  July                           2776          2776
                  November                       2340          2340
                  October                        4957          4957
                  September                      5114          5114
2016              April                          5428          5428
                  August                         5063          5063
                  December                       3860          3860
                  February                       3891          3891
                  January                        2248          2248
                  July                           4572          4572
                  June                           5292          5292
                  March                          4824          4824
                  May                            5478          5478
                  November                       4454          4454
                  October                        6203          6203
                  September                      5394          5394
2017              April                          5661          5661
                  August                         4925          4925
                  February                       4177          4177
                  January                        3681          3681
                  July                           5313          5313
                  June                           5647          5647
                  March                          4970          4970
                  May                            6313          6313

                                      days_in_waiting_list  customer_type  \
arrival_date_year arrival_date_month
2015              August                              3889           3889
                  December                            2920           2920
                  July                                2776           2776
                  November                            2340           2340
                  October                             4957           4957
                  September                           5114           5114
2016              April                               5428           5428
                  August                              5063           5063
                  December                            3860           3860
                  February                            3891           3891
                  January                             2248           2248
                  July                                4572           4572
                  June                                5292           5292
                  March                               4824           4824
                  May                                 5478           5478
                  November                            4454           4454
                  October                             6203           6203
                  September                           5394           5394
2017              April                               5661           5661
                  August                              4925           4925
                  February                            4177           4177
                  January                             3681           3681
                  July                                5313           5313
                  June                                5647           5647
                  March                               4970           4970
                  May                                 6313           6313

                                       adr  required_car_parking_spaces  \
arrival_date_year arrival_date_month
2015              August              3889                         3889
                  December            2920                         2920
                  July                2776                         2776
                  November            2340                         2340
                  October             4957                         4957
                  September           5114                         5114
2016              April               5428                         5428
                  August              5063                         5063
                  December            3860                         3860
                  February            3891                         3891
                  January             2248                         2248
                  July                4572                         4572
                  June                5292                         5292
                  March               4824                         4824
                  May                 5478                         5478
                  November            4454                         4454
                  October             6203                         6203
                  September           5394                         5394
2017              April               5661                         5661
                  August              4925                         4925
                  February            4177                         4177
                  January             3681                         3681
                  July                5313                         5313
                  June                5647                         5647
                  March               4970                         4970
                  May                 6313                         6313

                                      total_of_special_requests  \
arrival_date_year arrival_date_month
2015              August                                   3889
                  December                                 2920
                  July                                     2776
                  November                                 2340
                  October                                  4957
                  September                                5114
2016              April                                    5428
                  August                                   5063
                  December                                 3860
                  February                                 3891
                  January                                  2248
                  July                                     4572
                  June                                     5292
                  March                                    4824
                  May                                      5478
                  November                                 4454
                  October                                  6203
                  September                                5394
2017              April                                    5661
                  August                                   4925
                  February                                 4177
                  January                                  3681
                  July                                     5313
                  June                                     5647
                  March                                    4970
                  May                                      6313

                                      reservation_status  \
arrival_date_year arrival_date_month
2015              August                            3889
                  December                          2920
                  July                              2776
                  November                          2340
                  October                           4957
                  September                         5114
2016              April                             5428
                  August                            5063
                  December                          3860
                  February                          3891
                  January                           2248
                  July                              4572
                  June                              5292
                  March                             4824
                  May                               5478
                  November                          4454
                  October                           6203
                  September                         5394